<div class="container create-box">
	<div class="row">
		<div growl></div>
	</div>
	<form name="createForm">
		<div style="display: none">{{ formValid = createForm.$valid}}</div>
		<div class="row create-survey-box">
			<div class="col-md-2">
				<label>Tên bài khảo sát</label>
			</div>
			<div class="col-md-4">
				<input type="text" name="name" class="input" ng-model="survey.name"
					ng-class="{ 'error-ip' : createForm.name.$touched && createForm.name.$invalid}"
					required>
			</div>
			<div class="col-md-2">
				<label>Thể loại</label>
			</div>
			<div class="col-md-4">
				<select class="form-control" ng-model="category"
					ng-options="category.name for category in categories">
				</select>
			</div>
		</div>
		<div ng-repeat="question in questions">
			<div ng-if="question.type == '12'">
				<div class="row question-box">
					<div class="col-md-8">
						<div class="row question-name-row">
							<div class="col-md-12">
								<input type="text" placeholder="Câu hỏi"
									ng-model="question.name" name="questionName{{$index}}"
									ng-class="{ 'error-ip' : createForm.questionName{{$index}}.$touched && createForm.questionName{{$index}}.$invalid}"									
									required>
								<div style="display: none">{{question.order = $index}}</div>
							</div>
						</div>
						<div class="row answer-row"
							ng-repeat="choice in questions[$index].choices">
							<div class="col-md-1">
								<input type="radio" disabled="disabled">
							</div>
							<div class="col-md-11">
								<input type="text" ng-model="choice.answer"
								name="choice{{$parent.$index}}{{$index}}"
								ng-class="{ 'error-ip' : createForm.choice{{$parent.$index}}{{$index}}.$touched && createForm.choice{{$parent.$index}}{{$index}}.$invalid}"
								required
								><i
									class="fa fa-close"
									ng-click="remove_answer($parent.$index, $index)"></i>
							</div>
						</div>
						<div class="row answer-row">
							<div class="col-md-1">
								<input type="radio" disabled="disabled">
							</div>
							<div class="col-md-11">
								<input type="text" placeholder="Thêm câu trả lời"
									ng-click="add_answer($index)" readonly="readonly">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 row-remove-question">
								<div class="remove-btn" ng-click="remove_question($index)">
									<i class="fa fa-trash-o fa-2x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<select class="form-control" ng-model="question.type"
							ng-change="change_quest($index)">
							<option value="12" selected="">Câu hỏi trắc nghiệm</option>
							<option value="13">Câu hỏi nhiều lựa chọn</option>
							<option value="14">Câu hỏi mở</option>
						</select>
					</div>
				</div>
			</div>
			<div ng-if="question.type == '13'">
				<div class="row question-box">
					<div class="col-md-8">
						<div class="row question-name-row">
							<div class="col-md-12">
								<input type="text" placeholder="Câu hỏi"
									ng-model="question.name"
									name = "questionName{{$index}}"
									ng-class="{ 'error-ip' : createForm.questionName{{$index}}.$touched && createForm.questionName{{$index}}.$invalid}"
									required>
								<div style="display: none">{{question.order = $index}}</div>
							</div>
						</div>
						<div class="row answer-row"
							ng-repeat="choice in questions[$index].choices">
							<div class="col-md-1">
								<input type="checkbox" disabled="disabled">
							</div>
							<div class="col-md-11">
								<input type="text" ng-model="choice.answer"
								name="choice{{$parent.$index}}{{$index}}"
								ng-class="{ 'error-ip' : createForm.choice{{$parent.$index}}{{$index}}.$touched && createForm.choice{{$parent.$index}}{{$index}}.$invalid}"
								required
								><i
									class="fa fa-close"
									ng-click="remove_answer($parent.$index, $index)"></i>
							</div>
						</div>
						<div class="row answer-row">
							<div class="col-md-1">
								<input type="checkbox" disabled="disabled">
							</div>
							<div class="col-md-11">
								<input type="text" placeholder="Thêm câu trả lời"
									ng-click="add_answer($index)" readonly="readonly">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 row-remove-question">
								<div class="remove-btn" ng-click="remove_question($index)">
									<i class="fa fa-trash-o fa-2x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<select class="form-control" ng-model="question.type"
							ng-change="change_quest($index)">
							<option value="12" selected="">Câu hỏi trắc nghiệm</option>
							<option value="13">Câu hỏi nhiều lựa chọn</option>
							<option value="14">Câu hỏi mở</option>
						</select>
					</div>
				</div>
			</div>
			<div ng-if="question.type == '14'">
				<div class="row question-box">
					<div class="col-md-8">
						<div class="row question-name-row">
							<div class="col-md-12">
								<input type="text" placeholder="Câu hỏi"
									ng-model="question.name"
									name="questionName{{$index}}"
									ng-class="{ 'error-ip' : createForm.questionName{{$index}}.$touched && createForm.questionName{{$index}}.$invalid}"
									required>
							</div>
						</div>
						<div class="row answer-row">
							<div class="col-md-12">
								<input type="text" readonly="" placeholder="Câu trả lời">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 row-remove-question">
								<div class="remove-btn" ng-click="remove_question($index)">
									<i class="fa fa-trash-o fa-2x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<select class="form-control" ng-model="question.type"
							ng-change="change_quest($index)">
							<option value="12" selected="">Câu hỏi trắc nghiệm</option>
							<option value="13">Câu hỏi nhiều lựa chọn</option>
							<option value="14">Câu hỏi mở</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row add-question-box">
			<div class="col-md-2">
				<div class="add-question">
					<button class="btn btn-outline-primary add-question-btn"
						type="button" ng-click="add_question()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<div class="col-md-2">
				<div class="add-survey">
					<button class="btn btn-outline-primary add-survey-btn"
						type="button" ng-click="add_survey()">
						<i class="fa fa-save"></i>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>